  <header class="nav-menu">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{homepage.url}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{homepage.url}}#about-page-ui">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#project-page">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{pages.get('/articles').url}}">Articles</a>
                </li>
    
            </ul>
        </header>